<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Reportes | SandwichesUCAB</title>
     
       {% load bootstrap4 %}
     
       {# CSS Bootstrap #}
       {% bootstrap_css %}
    </head>
    <body>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-3">SandwichesUCAB</h2>
                    <div class="row">
                        

                        <div class="col-md-10 offset-md-1">
                            <span class="anchor" id="formComplex"></span>
                            <hr class="my-5">
                            <h3 class="text-center mb-5">Reportes</h3>
                            <div class="row">
                                <div class="col-sm">
                                    <form action="{% url 'Home:ventasTotalesPage' %}" method="post" class="text-center mb-4">
                                    {% csrf_token %}
                                    <!-- form complex example -->
                                
                                    <button type="submit" class="btn btn-primary">   Ventas Generales   </button>
                                    </form>

                                    <form action="{% url 'Home:ventasPorDiaPageEmpty' %}" method="post" class="text-center mb-4">
                                    {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-primary">Ventas Por Dia</button>
                                    </form>

                                    <form action="{% url 'Home:ventasPorTamanoPageEmpty' %}" method="post" class="text-center mb-4">
                                    {% csrf_token %}
                                        <!-- form complex example -->
                                        
                                        <button type="submit" class="btn btn-primary">Ventas Por tamaño</button>
                                    </form>

                                    <form action="{% url 'Home:ventasPorIngredientesPageEmpty' %}" method="post" class="text-center mb-4">
                                    {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-primary">Ventas Por ingrediente</button>
                                    </form>

                                    <form action="{% url 'Home:ventasPorClientesPageEmpty' %}" method="post" class="text-center mb-4">
                                    {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-primary">Ventas Por Cliente</button>
                                    </form>
                                </div>
                                <div class="col-sm">
                    <img src="https://estaticos.miarevista.es/uploads/images/recipe/554207ab0a73fed41f01dc99/sandwich-pavo_0.jpg" width="120%" style="position: absolute;top: 6%;padding-right:20%">
                </div>
                
                                <div class="col-sm">
                                    
                                    <br>
                                    <form action="{% url 'Home:agrupadosPorCliente' %}" method="post" class="text-center mb-4">
                                    {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-primary">Ventas Agrupadas<br />Por Cliente</button>
                                    </form>

                                    <form action="{% url 'Home:agrupadosPorTamano' %}" method="post" class="text-center mb-4">
                                    {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-primary">Ventas Agrupadas Por<br />Tamaño de Sandwich</button>
                                    </form>

                                    <form action="{% url 'Home:agrupadosPorIngrediente' %}" method="post" class="text-center mb-4">
                                    {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-primary">Ventas Agrupadas<br />Por Ingrediente</button>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <form action="{% url 'Home:homePage' %}" method="post" class="text-center mb-5">
                                {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-success">   Volver al inicio   </button>
                            </form>

                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        </div>
                    </div>
                    <!--/row-->
                <br><br><br><br>
                </div>
                <!--/col-->
            </div>
            <!--/row-->
            <hr>
            <p class="text-center"><br>
                <a class="small text-info d-inline-block">SandwichesUCAB</a>
            </p>
        </div>
            {% bootstrap_javascript jquery='full' %}
    </body>
  </html>