<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Reportes | SandwichesUCAB</title>
     
       {% load bootstrap4 %}
     
       {# CSS Bootstrap #}
       {% bootstrap_css %}
    </head>
    <body>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-5">SandwichesUCAB</h2>
                    <div class="row">
                        

                        <div class="col-md-10 offset-md-1">
                            <span class="anchor" id="formComplex"></span>
                            <hr class="my-5">
                            <h3>Reportes . . .</h3>
                            <br>
                            <br>

                            <form action="{% url 'Home:ventasTotalesPage' %}" method="post">
                            {% csrf_token %}
                                <!-- form complex example -->
                                
                                <button type="submit" class="btn btn-info">   Ventas Generales   </button>
                            </form>

                            <form action="{% url 'Home:ventasPorDiaPageEmpty' %}" method="post">
                                {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-info">Ventas Por Dia</button>
                            </form>

                            <form action="{% url 'Home:ventasPorTamanoPageEmpty' %}" method="post">
                                    {% csrf_token %}
                                        <!-- form complex example -->
                                        
                                        <button type="submit" class="btn btn-info">Ventas Por tamaño</button>
                            </form>

                            <form action="{% url 'Home:ventasPorIngredientesPageEmpty' %}" method="post">
                                {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-info">Ventas Por ingrediente</button>
                            </form>

                            <form action="{% url 'Home:ventasPorClientesPageEmpty' %}" method="post">
                                {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-info">Ventas Por Cliente</button>
                            </form>

                            <form action="{% url 'Home:agrupadosPorCliente' %}" method="post">
                                {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-info">Ventas Agrupadas Por Cliente</button>
                            </form>

                            <form action="{% url 'Home:agrupadosPorTamano' %}" method="post">
                                {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-info">Ventas Agrupadas Por Tamaño de Sandwich</button>
                            </form>

                            <form action="{% url 'Home:agrupadosPorIngrediente' %}" method="post">
                                {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-info">Ventas Agrupadas Por Ingrediente</button>
                            </form>


                            <form action="{% url 'Home:homePage' %}" method="post">
                                {% csrf_token %}
                                    <!-- form complex example -->
                                    
                                    <button type="submit" class="btn btn-info">   Volver al inicio   </button>
                            </form>

                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        </div>
                    </div>
                    <!--/row-->
                <br><br><br><br>
                </div>
                <!--/col-->
            </div>
            <!--/row-->
            <hr>
            <p class="text-center"><br>
                <a class="small text-info d-inline-block">SandwichesUCAB</a>
            </p>
        </div>
            {% bootstrap_javascript jquery='full' %}
    </body>
  </html>