<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Pedidos | Pyzzeria</title>
     
       {% load bootstrap4 %}
     
       {# CSS Bootstrap #}
       {% bootstrap_css %}
    </head>
    <body>
        <nav class="site-header py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
        
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
              </a>
       
            </div>
          </nav>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-5">Sandwich.com</h2>
                    <div class="row">
                        
                        <div class="container">
                            <div class="row">
                                <div class='col-sm-6'>
                                    <form action="{% url 'Home:ventasPorDiaPage' %}" method="post">
                                    {% csrf_token %}
                                        <label>Introduzca la fecha (AAAA-MM-DD):</label>
                                        <div class="form-group row">
                                                <div class='input-group date col-md-6' id='datetimepicker1'>
                                                    <input type='text' class="form-control" name="fecha" > 
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="submit" class="btn btn-info">Consultar</button>
                                                </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-md-10 offset-md-1">
                            <span class="anchor" id="formComplex"></span>
                            <hr class="my-5">
                            <h3>Reporte: ventas por día</h3>
                            <br>
                            <br>
                            {% if venta %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center" scope="col">Num. de factura</th>
                                        <th style="text-align:center" scope="col">Fecha de venta</th>
                                        <th style="text-align:center" scope="col">C.I. del cliente</th>
                                        <th style="text-align:center" scope="col">Cantidad de Sandwiches</th>
                                        <th style="text-align:center" scope="col">Monto pagado</th>
                                    </tr>
                                </thead>
                                {% for i in venta %}
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center">{{i.Factura}}</td>
                                            <td style="text-align:center">{{i.Fecha}}</td>
                                            <td style="text-align:center">{{i.Cliente}}</td>
                                            <td style="text-align:center">{{i.Cantidad_sandwiches}}</td>
                                            <td style="text-align:center">{{i.Monto_sandwiches}}</td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                            {% endif %}
                            <form action="{% url 'Home:homePage' %}" method="post">
                            {% csrf_token %}
                                <!-- form complex example -->
                                
                                <button type="submit" class="btn btn-info">   Volver al inicio   </button>
                            </form>


                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        </div>
                    </div>
                    <!--/row-->
                <br><br><br><br>
                </div>
                <!--/col-->
            </div>
            <!--/row-->
            <hr>
            <p class="text-center"><br>
                <a class="small text-info d-inline-block">Sandwich.com Inc.</a>
            </p>
        </div>
            {% bootstrap_javascript jquery='full' %}
    </body>
  </html>